<h1>Listing questionnaires</h1>

<h2>Questionnaires owned</h2>
<table>
  <tr>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.questionnaires_owned.each do |questionnaire| %>
  <tr>
    <td><%= questionnaire.label %></td>
    <td><%= link_to 'Show', questionnaire %></td>
    <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></td>
    <td><%= link_to 'Destroy', questionnaire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Questionnaire', new_questionnaire_path %>

<h2>Questionnaires to respond</h2>
<table>
  <tr>
    <th>Label</th>
    <th></th>
  </tr>

<% current_user.questionnaires_to_respond.each do |questionnaire| %>
  <tr>
    <td><%= questionnaire.label %></td>
    <td><%= link_to 'Respond', create_form_path(questionnaire.start_form) %></td>
  </tr>
<% end %>
</table>
