<h1>Listing questionnaires</h1>

<div>
<h2>Questionnaires administered</h2>
<table>
  <tr>
    <th>Label</th>
    <th>Administrator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.questionnaires_administered.each do |questionnaire| %>
  <tr>
    <td><%= questionnaire.label %></td>
    <td><%= questionnaire.administrator.name %></td>
    <td><%= link_to 'Show', questionnaire %></td>
    <td><%= link_to 'Rename', edit_questionnaire_path(questionnaire) %></td>
    <td><%= link_to 'Edit Forms', questionnaire_forms_path(questionnaire) %></td>
    <td><%= link_to 'Edit Administrators', group_users_path(questionnaire.administrator) %></td>
    <td><%= link_to 'Edit Respondents', questionnaire_groups_path(questionnaire) %></td>
    <td><%= link_to 'Destroy', questionnaire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Create New Questionnaire', new_questionnaire_path %>
</div>
