<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @questionnaire.label %>
</p>

<p>
  <b>Start form:</b>
  <%= @questionnaire.start_form %>
</p>

<p>
  <b>Owner:</b>
  <%= @questionnaire.owner.name %>
</p>


<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
