<h1>Listing forms for <%= @questionnaire.label %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Instructions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questionnaire.forms.each do |form| %>
  <tr>
    <td><%= form.label %></td>
    <td><%= form.instructions %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Rename', edit_form_path(form) %></td>
    <td><%= link_to 'Edit Fields', form_form_fields_path(form) %></td>
    <td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form', new_questionnaire_form_path %>

<br />

<%= link_to 'Go back to questionnaires', questionnaires_path %>
