<p><%= @form_instance.form.instructions %></p>

<%= form_for(@form_instance) do |f| %>
  <% if @form_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_instance.errors.count, "error") %> prohibited this form_instance from being saved:</h2>

      <ul>
      <% @form_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag("form_id", @form_instance.form.id) %>
  <% @form_instance.form.form_fields.each do |form_field| %>
    <div class="field">
      <%= label_tag("field_"+form_field.id.to_s, form_field.field.label) %>:<br/>
      <%= send form_field.field.field_type.rails_type+"_tag", "field["+form_field.id.to_s+"]", @form_instance.responses.find_or_create_by_form_field_id(form_field.id).value %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>