<h1>Listing form_instances</h1>

<table>
  <tr>
    <th>Form</th>
    <th>Respondent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @form_instances.each do |form_instance| %>
  <tr>
    <td><%= form_instance.form %></td>
    <td><%= form_instance.respondent %></td>
    <td><%= link_to 'Show', form_instance %></td>
    <td><%= link_to 'Edit', edit_form_instance_path(form_instance) %></td>
    <td><%= link_to 'Destroy', form_instance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form instance', new_form_instance_path %>
